html, body{
    padding: 0;
    margin: 0;
    background-image: url(pics/bcg.png);  
    overflow-y: auto;
    height: 100%;
 

    
}

.Hero{
    display:flex;
    flex-direction: column;
    position:relative;
    background-color: rgb(82, 56, 56);
    color: white;
    padding: 50px 30px;
    text-align: center;
    height: auto;
}
.Hero:before{

    content: "";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right,blue,yellow)


}
.Hero:after{

    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right,blue,yellow)


}
.Hero h1{
    font-weight: normal;
    margin: 0px;

}
.navbar-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    height:100%;
    
    

}
.navbar-menu.hidden{
    display: none;
}
.navbar-menu button{
    
    margin-right: 5px;
   padding: 15px;
   margin-top: 15px;
 

   color: rgb(153, 125, 87);
   font-weight: bold;
   border-color:rgb(134, 46, 201);
   border-radius: 5px;
   text-decoration: none;
   background: linear-gradient(160deg, rgb(176, 92, 175),blue)

}
.coffee img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 230px;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    
    
}
.coffee img:hover{
    transform: rotate(2deg) scale(0.94);
    opacity: 0.8;
    
}
.coffee{
    height: 100%;
    width: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    
    

   
}
    .coffee span{
    color: black; 
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    margin-left: 77px;
   

}
.coffee-list{

border: 1px solid black;
border-radius: 2px;
font-weight: normal;
display: flex;
margin-bottom: 10px;





}
.coffee-description{
    margin-left: 9px;
    margin-top: 5px;
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.sidebar-button{
    position:absolute;
    margin-top: 5px;
    margin-left: 10px;
    top: 0;
    right: 5px;
    left: 0;
    color: black;
    font-size:large;
    cursor: pointer;
    padding: 5px;
    background-color:antiquewhite;
    border-radius: 20px;
    opacity: 100%;
    justify-self: end;
    

    

    
}
.sidebar-button:hover{
    background-color: rgb(107, 76, 30);

}
.sidebar-button.open{
color: white;
background-color: black;

}
.sidebar-button.open:hover{
    background-color: antiquewhite;
    color: black;
}

.container{
    overflow:auto;
    height: 100%;
    display: flex;
    overflow-y: auto;
    
}
.sidebar{
    opacity: 75%;   
    position: fixed;
    width: 0px;
    height: 100%;
    background-color: black;
    transition: width 0.1s ease-in-out;

}

.main-content {
    margin-left: 20px;
    flex-grow: 1; /* Expands to fill remaining space */
    padding: 20px;
    height:100%;
    transition: margin-left 0.1s ease-in-out;
    
}
button{
    background: none;
    border: none;
}


